body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
}

.wrapper{
    max-width:360px;
    margin:auto;
    padding:40px 20px;
    text-align:center;
}

.language{
    font-size:14px;
    color:#8e8e8e;
    margin-bottom:25px;
}

.logo img{
    width:80px;
    height:80px;
    object-fit:contain;
    margin-bottom:30px;
}

/* INPUT */
input{
    width:100%;
    height:52px;
    padding:0 14px;
    margin-bottom:12px;
    border:1.5px solid #dbdbdb;
    border-radius:12px;
    background:#ffffff;
    font-size:16px;
    color:#262626;
    outline:none;
    box-sizing:border-box;
}

input::placeholder{
    color:#8e8e8e;
    font-size:16px;
    font-weight:400;
    opacity:1;
}

input:focus{
    border-color:#a8a8a8;
}

button{
    width:100%;
    padding:12px;
    background:#1877F2;
    border:none;
    border-radius:25px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.link{
    margin:18px 0;
    font-size:14px;
}

.link a{
    color:#262626;
    text-decoration:none;
}

.create{
    margin-top:40px;
    border:1px solid #0095f6;
    padding:12px;
    border-radius:25px;
    font-weight:bold;
}

.create a{
    color:#0095f6;
    text-decoration:none;
}

.footer{
    margin-top:30px;
    font-size:13px;
    color:#8e8e8e;
}